body {
    /* background-image: url('/asset/image/cloud.png'), linear-gradient(to top, #09B1EC, #65C2F5, #B0D6F5, rgb(25, 127, 236), #0487E2); */
    background-image: url('https://kakyoindonut321.github.io/portefeuille/asset/image/starsbg.png'), linear-gradient(to top, #09B1EC, #65C2F5, #B0D6F5, rgb(25, 127, 236), #0487E2);
    background-size: 70%, 100%;
    background-repeat: repeat-x, no-repeat;
    background-attachment: fixed, fixed;
    background-position: 0% 100%, center;
    image-rendering: pixelated;
    animation: cloud 50s linear infinite;
}

@keyframes cloud {
    to {
        background-position: 233% 100%, center;
    }
}

.temporary {
    /* background-color: red; */
    width: 100px;
    height: 1000px;
}

.secret a {
    text-decoration: none;
    color: #414141;
    text-shadow: none;
    font-size: 10px;
}

footer {
    border-top: 4px solid limegreen;
    background-color: #696767;
}

.road {
    border-top: 5px dashed yellow;
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 500px) {
    .secret {
        display: none;
    }
}

@media screen and (max-width: 380px) {}