body {
    background-color: black;
    background-image: linear-gradient(to bottom, transparent, navy), url('../asset/image/starsbg.png');
    /* background-image: linear-gradient(to bottom, transparent, navy), url('https://kakyoindonut321.github.io/portefeuille/asset/image/starsbg.png'); */
    /* background-image: url('asset/image/starsbg.png'); */
    background-size: 100%, 40%;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, scroll;
    background-position: center, center;
}

.pfp {
    display: flex;
    justify-content: center;
}

.pfp img {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(66, 135, 255);
    border-radius: 50%;
}

.datadiri {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}


/* .flex-item {
    width: 300px;
    height: 300px;
    margin: 10px;
}
 */

.circle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    color: white;
    text-shadow: 0px 2px 0px black;
    box-shadow: 0px 5px 6px black;
    text-align: center;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    /* animation: kraby 10s linear infinite alternate; */
}


/* @keyframes kraby {
    0% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
} */

.circle:hover {
    transform: rotate(180deg);
    box-shadow: 0px -5px 6px black;
}

.c-icon {
    position: absolute;
    font-size: 50px;
    top: 110px;
    right: 125px;
    text-shadow: 0px 0px 3px lightgray;
}

.textUp {
    width: 100%;
    height: 50%;
    border: 1px solid transparent;
}

.textDown {
    position: relative;
    transform: scale(-1, -1);
    width: 100%;
    height: 50%;
    border: 1px solid transparent;
}

.subDown {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mercury {
    background: linear-gradient(to bottom, #68696dc1 50%, #ADA8A5c1 50%);
}

.venus {
    background: linear-gradient(to bottom, #CC3A00c1 50%, #FF9E43c1 50%);
}

.earth {
    background: linear-gradient(to bottom, #6B93D6c1 50%, #9FC164c1 50%);
}

.exc {
    font-size: 22px;
}

.about {
    margin: 10px;
    /* background-color: midnightblue; */
    background-image: linear-gradient(45deg, midnightblue, navy, transparent);
    font-size: 20px;
    padding: 10px;
    color: white;
    border: 2px solid white;
}

.about p {
    font-family: 'undertale-regular';
}

.about h1 {
    margin: 0;
    padding: 0;
}

.secret a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    text-shadow: none;
    font-size: 10px;
}

.github {
    border: 3px dashed orange;
    padding: 5px;
    font-size: 20px;
    text-decoration: dashed;
    font-family: 'undertale';
    color: lightgray;
    text-shadow: 0px 2px 0px black;
}

.github:hover {
    color: yellow;
}

footer {
    border-top: 4px solid green;
    background-color: rgb(46, 46, 46);
}

.road {
    border-top: 5px dashed orange;
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 500px) {
    .circle {
        width: 270px;
        height: 270px;
    }
    .c-icon {
        font-size: 45px;
        top: 100px;
        right: 110px;
    }
    .exc {
        font-size: 20px;
    }
    .github {
        border: 2px dashed orange;
        padding: 3px;
        font-size: 14px;
    }
    .secret {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .circle {
        width: 230px;
        height: 230px;
    }
    .c-icon {
        font-size: 40px;
        top: 85px;
        right: 95px;
    }
    .exc {
        font-size: 16px;
    }
    .textUp h1,
    .textDown h1 {
        font-size: 24px;
    }
    .textUp h3,
    .textDown h3 {
        font-size: 18px;
    }
    .textUp h2,
    .textDown h2 {
        font-size: 18px;
    }
    .github {
        border: 2px dashed orange;
        padding: 3px;
        font-size: 10px;
    }
}


/* .circle hr {
    margin-top: 50%;
    margin-bottom: 50%;
    padding: 1px;
    background-color: darkblue;
    border: none;
} */


/* @keyframes rotate {
    to {
        transform: rotate(180deg);
    }
} */