.secondFog {
    right: -100%;
    animation: foglayer_right 16s linear infinite;
}

.theFog {
    animation: foglayer_left 16s linear infinite;
}

.theFog,
.secondFog {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(0.2) saturate(1.2) sepia(0.2);
    background: url("asset/image/fogpix.png") center center/cover repeat transparent;
    opacity: 0.8;
}

@keyframes foglayer_left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes foglayer_right {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}